.wrapper {
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

.button {
    cursor: pointer;
    border: none;
    background: none;
}

.FaRegUser {
    display: none;
    font-size: 30px;
    background-color: #23a53c;
    color: white;
    border-radius: 10px;
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .buttons {
        display: none;
    }

    .FaRegUser {
        display: block;
    }
}