.productCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 8px 14px 8px;
    text-align: center;
    cursor: pointer;
    width: 300px;
    height: 330px;
    box-shadow: 5px black;
    transition: .3s;
    position: relative;
}

.productCard:hover {
    box-shadow: 0 0 20px 2px #f2e6819b;
    transform: translate(2px, -2px);
    transition: .3s;
}

.productCard__img{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

/* .productCard__link {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
} */

.productCard__title {
    color: #007bff;
}

.productCard__title:hover {
    text-decoration: underline;
}

.productCard__list {
    font-size: 12px;
    display: flex;
    justify-content: center;
    column-gap: 5px;
}

.priceTable__count {
    display: flex;
}

.productCard__item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 7px 9px;
}

.productCard__item:hover {
    border: 1px solid #ffd944;;
}

.productCard__item.activeWeight {
    border: 1px solid #ffd944;;
    background-color:#ffd944;
}

.productCard__price {
    font-size: 20px;
}

.productCard__oldPrice {
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
    vertical-align: middle;
    padding-left: 7px;
}

.favorit {
    position: absolute;
    top: 6px;
    right: 8px;
  }