.container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
  }
  

.wrapper {
    display: flex;
    margin-top: 10px;
    /* justify-content: space-between; */
  }

.main {
    flex-grow: 1;
}

.sidebar ul{
    width: 150px;
    top: 20px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
}

.sidebar ul a:hover {
    background-color: rgb(241, 239, 239);
}

  /* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }

    .wrapper {
      display: block
    }
}