.category {
    width: 170px;
    border: 1px solid #ccc;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: .3s;
}

.category:hover {
    box-shadow: 0 0 20px 2px #f2e6819b;
    transition: .3s;
}