.list {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.list a {
  display: block;
  width: 100%;
  text-align: start;
  padding: 4px 10px;
  border-radius: 20px;
}

.list a:hover {
  background-color: #f4f4f4;
}

li {
  padding: 2px 8px;
  border-radius: 20px;
}


li .active {
  color: rgb(80, 185, 70);
  }


/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
  .list {
      display: none;
  }

  .list a {
    text-align: center;
    font-size: 20px;

  }
}