.basket__wrapper {
    position: relative;
    width: 55px;
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.SlBasket__wrapper {
    width: 36px;
    height: 36px;
    background: #23a53c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.SlBasket {
    font-size: 28px;
    color: #fff;
}

.basket__money {
    text-align: center;
} 



.basket__basket-word {
    font-size: 14px;
}

.basket__total {
    font-size: 12px;
    width: 100%;
    color: #23a53c;
}

.basket__info {
    position: absolute;
    top: 0;
    left: -200px;
    padding: 10px 10px 10px 10px;
    z-index: 3;
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);


    overflow: auto;
    max-height: 280px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}


.basket__info_products {
    max-height: 500px;
    overflow: auto;
}

.basket__info_button {
    display: block;
    padding: 10px;
    background-color: #23a53c;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    position: relative;
    text-align: center;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;   
}

.basket__info_button:hover {
    background-color: #0c9241;
    color: white;
}

.basket__minimum-text {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 14px;
    margin-right: 14px;
}

.basket__count {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    height: 22px;
    border-radius: 90px;
    color: #fff;

    background: #ee423e;

    font-size: 12px;
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .basket__basket-word {
        display: none;
    }

    .basket__money {
        position: absolute;
        bottom: -16px;
        margin-left: 2px;
    } 

    .SlBasket__wrapper {
        width: 47px;
        height: auto;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:0;
    }

    .SlBasket {
        color: #0c9241;
    }

    .basket__count {
        top: -8px;
        left: 35%;
    }
    
}

