.priceTable {
    width: 320px;
    height: 500px;
    background: #ffd944;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    border-radius: 8px;
}

.priceTable__label {
    font-size: 18px;

    border-bottom: 2px solid #ffc702;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 10px 20px;
    cursor: pointer; 

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.priceTable__input {
    margin: 0 4px;
}

.priceTable__undiscounted {
    padding-left: 15px;
    color: #adabab;
    font-size: 15px;
    text-decoration: line-through;
}

.priceTable__weight {
    color: gray;
    font-size: 18px;
}

.priceTable__delivery {
    margin: 10px 0 15px;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 300;
}

.priceTable__counter_wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 12px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.priceTable__counter {
    display: flex;
}

.priceTable__discount-info {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    font-weight: 300;
}

.priceTable__bonus-note {
    color: #950300;
    border-bottom: 1px dotted;
    cursor: pointer;
    font-weight: 500;
}

.priceTable__basket-btn {
    background: #23a53c radial-gradient(circle, transparent 1%, #23a53c 1%) center/15000%;
    border-radius: 5px;
    max-width: 290px;
    margin: auto;
    font-size: 14px;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #23a53c;
    transition: .3s;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
}

  .priceTable__basket-btn:active {
    background-color: #03cf2c;
    background-size: 100%;
    transition: background 0s;
  }

.priceTable__count-btn-left {
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #e7e7e7;
    z-index: 2;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 14px
}

.priceTable__count-btn-right {
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #e7e7e7;
    z-index: 2;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    right: 14px;
}

.priceTable__count-btn-left:active, .priceTable__count-btn-right:active{
    transform: scale(1.1);
}


.priceTable__count-number {
    width: 75px;
    background: #f5f5f5;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceTable__discount {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
    padding: 0 30px;
}

.priceTable__discount_text {
    color: #23a53c;
    margin-left: 5px;
}

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    .priceTable {
        width: 300px;
        height: 510px;
    }

    .priceTable__label {
        font-size: 16px;
        padding: 8px 0 8px 30px;
    }

    .priceTable__weight {
        font-size: 16px;
    }
    

    .priceTable__basket-btn {
        padding: 8px 10px;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .priceTable__label {
        font-size: 16px;
        padding: 8px 0 8px 0;
    }

    .priceTable {
        width: 254px;
        padding: 10px 12px;
    }

    .priceTable__discount {
        padding: 0 12px;
    }

    .priceTable__basket-btn {
        padding: 8px;
    }
    
    .priceTable__delivery {
        font-size: 14px;
    }
    
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .priceTable {
        width: 90%;
        height: 236px;
        padding: 4px 12px;
        display: flex;
        flex-direction: row;
        /* gap: 40px; */
        justify-content: space-between;
    }

    #product {
        width: 50%;
    }

    .ada {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-between;
    }

    .priceTable__delivery {
        margin: 2px 0 15px;
        line-height: 1;
    }

    .priceTable__discount  {
        margin-top: 0;
    }

    .priceTable__counter_wrapper {
        /* margin-bottom: 8px; */
        margin: 0;
        order: 4;
    }

    .priceTable__delivery {
        margin: 0;
    }
}

@media (max-width: 575.98px) {
    .priceTable {
        font-size: 14px;
        height: 400px;
        flex-direction: column;
    }

    #product {
        width: 100%;
    }

    .ada {
        width: 100%;
        gap: 6px;
    }


    .priceTable__count {
        justify-content: center;
        gap: 10px;
    }

    .priceTable__basket-btn {
        margin: 0;
    }

    .priceTable__delivery {
        font-size: 12px;
        /* margin: 2px 0 10px; */
    }
}


@media (max-width: 359.98px) {
    .priceTable {
        height: 430px;
    }
}
