.productProperties__list {
    display: flex;
    border-bottom: 1px solid #dee2e6;
    cursor: pointer;
    margin-bottom: 4px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.productProperties__item {
    padding: 8px 16px;
}

.productProperties__item:hover {
    border: 1px solid #c3ccc5;
    border-bottom: none;
    /* transition: .3s; */
}

.productProperties__item.active {
    color: #23a53c;
    border: 1px solid #23a53c;
    border-bottom: none;
}

.productProperties__description {
    min-height: 120px;
}

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    .productProperties__description {
        min-height: 160px;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .productProperties__description {
        font-size: 14px;
    }

}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .productProperties__description {
        font-size: 13px;
        min-height: 140px;
    }

}
