.header-area {
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

.header__top {
    font-size: 14px;
    max-width: 1360px;
    margin: 0 auto;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 8px 0; */
    padding-bottom: 6px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    max-width: 1360px;
    margin: 0 auto;
    padding: 6px 0;
}

.header__bottom_center {
    max-width: 550px;
}

.header__location {
    font-size: 16px;
}

.header__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.header__contacts_tel {
    font-size: 22px;
    font-weight: 300;
    position: relative;
}

.header__contacts_tel::before {
    content: 'бесплатно по России';
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 10px;
    white-space: nowrap;
}

.header__contacts_mail {
    font-size: 14px;
    padding: 0 16px;
}

.header__working-hours {
    font-size: 13px;
}

.header__working-hours_desc {
    font-size: 11px;
}


.header-favorits {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: relative;
}


.header__MdOutlineFavoriteBorder {
    font-size: 30px;
    color: #6f6e6e;
    width: 30px;
}


.header-favorits-text {
    font-size: 14px;
}

/* .header-favorits-text:hover {
    text-decoration: underline;
} */


.hamburger {
    display: none;
}

.header__aside ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header__aside {
    display: none;
}

.header__aside a{
    display: block;
}

.header__aside-catalog {
    margin-bottom: 14px;
    font-weight: 600;
    /* background-color: #fff3b9; */
}


.header__nav  {
    width: 100%;;
}

.header-mobile {
    display: none;
}

.header__favorits-count {
    position: absolute;
    top: -10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    height: 22px;
    border-radius: 90px;
    color: #fff;
    background: #ee423e;
    font-size: 12px;
}

.header__aside_link.active {
    color: #23a53c;
}


.DeliveryTime__wrapper {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}



@media screen and (min-width: 768px) {
    .header-favorits:hover .header__MdOutlineFavoriteBorder {
        color: #23a53c;;
    }

    .header__top a:hover {
        color: #9c9c9c;
    }
}

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {
    .header__contacts_tel {
        font-size: 18px;
    }

    .header__contacts_mail {
        display: none;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .header__top {
        font-size: 12px;
    }

    .header__bottom {
        padding-bottom: 4px;
    }

    .header__bottom_center {
        display: flex;
        gap: 6px;
    }

    .header__working-hours {
        display: none;
    }


    .header-favorits-text {
        display: none;
    }


    .header__location-text {
        display: none;
    }

    .header__logo {
        width: 74%;
    }

    .header__contacts_tel {
        font-size: 16px;
    }

    .header__favorits-count {
        top: -10px;
        right: -6px;
    }
    
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .hamburger {
        display: block;
    }

    .active2 .header__location {
        display: none;
    }

    .active2 .header__contacts {
        display: none;
    }
    
    .header__logo {
        display: none;
    }

    .header__bottom {
        background-color: white;
        top: 0;
        left: 0;
        width: 100%;
        padding: 12px 14px 16px 12px;
        z-index: 10;
        position: fixed;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);

    }

    /* .header__bottom::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    } */



    .header-area {
        height: 70px;
    }

    .active .header__aside {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .active .header__top {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        z-index: 10;
        text-align: center;
        overflow: scroll;
    }

    .active .header__bottom {
        display: none;
    }

    .header__top {
        color: #333;
        font-size: 20px;
    }


    .header__aside_link {
        margin-bottom: 2px;
        padding: 4px 0;
        /* background-color: #fff3b9; */
    }


    .header__nav {
        display: none;
    }

    .header__top li {
        /* border-bottom: solid 1px black; */
    }
    
    .header__top a {
        padding: 6px 0;
    }

    .header__nav li {
        width: 100%;;
    }

    .header__nav a {
        display: block;
    }

    .active .header__nav {
        display: flex;
        flex-direction: column;
    }

    .active .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px 20px;
    }

    .header__logo-mobile {
        width: 60px;
    }

    
    .DeliveryTime__wrapper {
        display: none;
    }

    .header-area {
        height: auto;
    }
}

@media (max-width: 575.98px) {
    .header__contacts  {
        display: none;
    }

    .active2 .LocationSelect__wrapper {
        display: none;
    }

    .active2 .header__authentication {
        display: none;
    }

    .active2 .Basket__wrapper {
        display: none;
    }

    .active2 .header-favorits__wrapper {
        display: none;
    }

    .header__bottom {
        height: 85px;
    }
}




