.product-wrapper {
    display: flex;
    justify-content: space-between;
}

.product {
    width: 320px;
    padding: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}


.product img{
    width: 300px;
    height: 300px;
}

.product__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-right: 200px;
}

.product__statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.product__bread-crumbs {
    display: flex;
    font-size: 12px;
    margin-bottom: 14px;
}

.product__bread-crumbs a:hover {
    text-decoration:underline  ;
    color: #23a53c; 
}

.product__bread-crumbs li:not(:last-child)::after {
    content: '>';
    margin: 0 5px;
}

.product__favorit {
    color: #999;
}


.advantages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 170px;
}

.advantages__list_item {
    color: #23a53c;
    font-size: 30px;
    text-align: center;
}

.advantages__list_item p {
    color: #999;
    font-size: 14px;
}

.advantages__favorit {
    font-size: 34px;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-align: end;
}


/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {

    .product {
        width: 290px;
    }


    .product img{
        width: 270px;
        height: 270px;
    }

    .advantages {
        width: 110px;
    }
}


/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {

    .product {
        width: 220px;
    }

    .product img{
        width: 200px;
        height: 200px;
    }
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .product-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 4px;
        margin-bottom: 10px;
    }

    .product__advantages-wrapper {
        display: flex;
        width: 100%;
        gap: 80px;
    }

    .product {
        width: 240px;
    }

    .product img{
        width: 240px;
        height: 240px;
    }

    .product__favorit {
        text-align: center;
    }

    .product__favorit svg{
        font-size: 30px;
    }

    .product__favorit p{
        font-size: 14px;
    }

    .advantages {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .product__title {
        margin-right: 0;
    }
}

@media (max-width: 575.98px) {
    .advantages__favorit p {
        font-size: 12px;
    }

    .advantages__list_item p {
        font-size: 12px;
    }

    .product__bread-crumbs li:last-child {
        display: none;
    }
}