.product-wrapper {
    display: flex;
    column-gap: 10px;
}

.product {
    width: 400px;
    padding: 5px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}


.product img{
    width: 300px;
    height: 300px;
}

.product__title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}

.product__statistics {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.product__bread-crumbs {
    display: flex;
    font-size: 12px;
    margin: 10px 0 20px;
}

.product__bread-crumbs a:hover {
    text-decoration:underline  ;
    color: #23a53c; 
}

.product__bread-crumbs li:not(:last-child)::after {
    content: '>';
    margin: 0 5px;
}

.product__favorit {
    color: #999;
}

/* // Большие девайсы (большие десктопы, < 1200px) */
@media (max-width: 1199.98px) {

    .product {
        width: 340px;
    }


    .product img{
        width: 270px;
        height: 270px;
    }
}


/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {

    .product-wrapper {
        column-gap: 6px;
    }

    .product {
        width: 240px;
    }

    .product img{
        width: 200px;
        height: 200px;
    }
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .product-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
    }

    .product__advantages-wrapper {
        display: flex;
        width: 100%;
        gap: 80px;
    }

    .product img{
        width: 220px;
        height: 220px;
    }
}