.header {
    margin: 5px 0 10px;
}

.header__top {
    display: flex;
    justify-content: space-between;
    color: #23a53c;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.header__top a:first-child,  .header__top a:last-child {
    background: #ffd944;
    color: #333;
    padding: 3px 5px;
    border-radius: 3px;
}

.header__top a:hover {
    text-decoration: underline;
}


.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}

.header__location {
    font-size: 16px;
}

.header__contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.header__contacts_tel {
    font-size: 22px;
    font-weight: 300;
    position: relative;
}

.header__contacts_tel::before {
    content: 'бесплатно по России';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 300;
    font-size: 10px;
    white-space: nowrap;
}

.header__contacts_mail {
    font-size: 14px;
}

.header__working-hours {
    font-size: 13px;
}

.header__working-hours_desc {
    font-size: 11px;
}


.header__bonus {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2px 0;
    color: #fff;
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    background: #23a53c;
    font-size: 12px;
    line-height: 1.5;
}


.header-favorits {
    display: flex;
    column-gap: 6px;
    
}

.header-favorits:hover .header-favorits-text {
    text-decoration: underline;
    
}

.header-favorits:hover .header__MdOutlineFavoriteBorder {
    color:#ffd944;
    
}

.header-favorits-text {
    font-size: 14px;
    margin-top: 4px;
}

/* .header-favorits-text:hover {
    text-decoration: underline;
} */

.header__MdOutlineFavoriteBorder {
    font-size: 30px;
    color: #23a53c;
}
