.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 170px;

    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}

.footer__logo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
}

.footer__list li:hover {
    text-decoration: underline;
}

.footer__tel {
    font-size: 18px;
    font-weight: 300;

}

.footer__tel:hover {
    text-decoration: underline;
    
}

.footer__contacts_title {
    margin-bottom: 10px;
}