.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;

    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
}


.footer__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    max-width: 500px;
    justify-content: space-between;
}


.footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    gap: 8px;
    max-width: 500px; 
  }
  
  .footer__list a {
    display: block;
    padding: 5px 10px;
    text-align: start;
  }
  


.footer__list a:hover {
    color: #9c9c9c;
}

.footer__tel {
    font-size: 18px;
    font-weight: 300;
}

.footer__tel:hover {
    text-decoration: underline;
}

.footer__contacts_title {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .footer__logo {
        max-width: 230px;
    }

    .footer__contacts {
        max-width: 240px;
    }
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .footer__list {
        width: 320px;
    }

    /* .footer__list a {
        overflow: hidden;
    } */

    
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .footer {
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;
    }

    .footer__list {
        width: 100%;
        max-width: 100%;
        gap: 4px;
    }

    /* .footer__logo {
        order: 1;
    } */
    .footer__contacts_title {
        margin-bottom: 0;
    }
}