.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 12px;
}


.footer__logo img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.footer__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    max-width: 500px;
}

.footer__list li:hover {
    text-decoration: underline;
}

.footer__tel {
    font-size: 18px;
    font-weight: 300;

}

.footer__tel:hover {
    text-decoration: underline;
    
}

.footer__contacts_title {
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .footer__logo {
        max-width: 230px;
    }

    .footer__contacts {
        max-width: 240px;
    }
    
}

/* // Средние девайсы («таблетки», < 992px)  */
@media (max-width: 991.98px) {
    .footer__list {
        width: 400px;;
    }
}

/* // Малые девайсы («ландшафтные», < 768px) */
@media (max-width: 767.98px) {
    .footer {
        flex-direction: column;
        gap: 12px;
    }

    .footer__list {
        width: 100%;
        max-width: 100%;
    }

    /* .footer__logo {
        order: 1;
    } */
    .footer__contacts_title {
        margin-bottom: 0;
    }
}