.placeOrder {
    margin: 0 auto; 
    display: block;

    background: #eef1f2;
    color: #8c959c;

    padding: 12px 55px;

    border: none;
    border-radius: 10px;
    text-align: center;
}

.placeOrder.active {
    background: #23a53c;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}


.placeOrder.active:hover {
    background: #28b945;
    transition: 0.3s;
}

.informationWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.information {
    font-size: 14px;
    margin-top: 10px;
}